[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentry-sdk = "*"
bagit = "*"
setuptools = "*"
boto3 = "*"
smart-open = {extras = ["s3"], version = "*"}

[dev-packages]
black = "*"
coveralls = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
ipython = "*"
pip-audit = "*"

[requires]
python_version = "3.12"
